.form-control{
    width: 80%;
}
#Continuar{
    margin: 5px;
}
#Cancelar{
    margin: 5px;
}

.col-md-6{
    margin: 5px;
    width: 400px;
}
.col-12{
    margin: 5px;
}

.col-md-4{
    margin: 5px;
}

.col-md-2{
    margin: 5px;
}
