#newsletter{
    background-color: #ffffff;
    width: auto;
    height: auto;    
    border: black 1px solid;
    padding: 1%;
    box-sizing: content-box;
    text-align: center;

    .suscribirse{    
        text-transform:uppercase;
    }
    #logoNewsletter{
        width: 80px;
        height: 70px;
    }
    #logoNewsletter{
        margin-top: 5%;
    }
}


.temporada {
    margin: 6%;
    text-align: center;
}